---
layout: default
---

<section id="project" class="cd-section section-blog" style="padding-top: 50px;">
 <div class="container">
          <div class="row">
           <h1 class="t-blog"> Post </h1>
           <div class="col-md-8">
             <div class="box-content box-s-post">
                <div class="blog-item first-child">
                	{% if page.img %}
                    <div class="blog-img">
                    	<img src="{{ page.img }}" alt="">
                    </div>
                    {% endif %}
                    <div class="blog-desc box-text single-post">
                        <h2>{{ page.title }} 
	                        <span class="date-blog">
		                        {{ page.date | date: "%b %-d, %Y" }}
		                        {% if page.author %} • {{ page.author }}{% endif %}
		                        {% if page.meta %} • {{ page.meta }}{% endif %}
		                    </span>
	                    </h2>
                        <article>
                        	{{ content }}
                        </article>
                    </div>
                 </div>
                
             </div>

             <!-- <div class="post-pagination">
                <a href="#" class="pre pull-left"><i class="fa fa-caret-left"></i> Previews post</a>
                <a href="#" class="next pull-right">Next post <i class="fa fa-caret-right"></i></a>
             </div> -->

             <!-- <div class="post-comments">
               <h2><span class="icon-chat"></span>3 Comments</h2>
               <div class="col-md-12 post-content-txt">
                   <div class="col-md-2 col-xs-2 b-mention-item-user f-center">
                        <div class="b-mention-item-user-img">
                            <img src="images/blog/user1.png" alt="">
                        </div>
                        <div class="">
                            <div class="f-mention-item-user-name f-primary-b">Mary Smith</div>
                        </div>
                    </div>
                    <div class="col-md-10 col-xs-10 b-remaining">
                        <div class="b-mention-item__comment">
                            <div class="b-mention-item__comment_text f-mention-item__comment_text">
                                <span>July 22, 2014 at 11:35 pm</span>
                                <span class="reply">
									<a class="comment-reply-link" href="#"><i class="fa fa-reply"></i> Reply</a>				
								</span>
                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, 
                               orci ipsum gravida tortor orbi sagittis, sem quis. Nunc eget magna mattis</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="clear separ-post"></div>
                </div>
             </div> -->

             <!-- <div class="leave-comment">
               <h2><span class=" icon-pencil"></span>LEAVE A COMMENT</h2>
                <div class="col-md-12">
                    <form id="contact_form" class="form email-form" method="post" action="" autocomplete="off">
                      <div>
                        <input type="text" name="subject" id="subject" class="input-contact" placeholder="Subject">
                        <input type="text" name="name" id="name" class="input-contact" placeholder="Name">
                      </div>
                      <div>
                        <textarea type="text" name="message" id="message" class="input-contact" placeholder="Message" cols="30" rows="7"></textarea>
                        <button type="submit" class="btn submit-contact">SUBMIT</button>
                      </div>
                    </form>
                </div>
             </div> -->
		  </div>
          
          <div class="col-md-4">
          <!-- <div class="box-content right-position">
               <div class="blog-right-column">
                 <h2>Categories</h2>
                 <ul>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Audio</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Video</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Design</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Photo</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Branding</a></li>
                 </ul>
               </div>
            </div> -->
            <!-- <div class="box-content blog-r-posts">
               <div class="blog-right-column">
                 <h2>Recent Posts</h2>
                 <ul>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Ut egestas angularjs nec mauris</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Nullam pellentesque dui a neque</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> miniMe varius tortor eu lacus</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> More angularjs more dinamyc html</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Branding html5 for better website</a></li>
                 </ul>
               </div>
            </div> -->
          </div>
        </div><!--close row-->
      </div><!--close container-->
 </section>
